<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}App{% endblock %}</title>
    {% block stylesheets %}
        <style>
            .form-wrapper {
                width: 400px;
                border: 1px solid gray;
                padding: 10px;
            }

            .row {
                padding-bottom: 10px;
            }

            .row input, .row select{
                float: right;
                width: 70%;
            }

            .error {
                margin: 0 0 10px 0;
                color: red;
            }
        </style>
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
